<section class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-4">Livro edit</h1>
            <form [formGroup]="form">
                <div class="form-group">
                    <label for="livroinput">Livro</label>
                    <input type="text" class="form-control" formControlName="livro" name="livro" id="livroinput"
                        aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">Ex: Básico I</small>
                </div>
                <button type="submit" class="btn btn-primary">enviar</button>
            </form>
        </div>
    </div>
</section>