<div class="questao-list">
    <section class="container">
        <div class="row" *ngIf="msg">
            <div class="col-md-8 offset-md-2">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{msg}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="header">
                    <div class="titulo">
                        <h2 class="display-4">Listar questoes</h2>
                    </div>
                    <div class="icon">
                        <button type="button" class="btn btn-outline-success" (click)= "goAdd()">
                            Adicionar questao
                        </button>
                    </div>
                </div>
                <ul class="list-group" *ngIf="questaolist">
                    <li class="list-group-item  list-group-item-action " *ngFor="let questao of questaolist" >
                        <div class="content-list">
                            <div class="desc" (click) = "goShow(questao.id)">
                                {{questao.enunciado}}
                            </div>
                            <div class="bars">
                                <div class="btn-group mr-2" role="group" aria-label="Second group">
                                    <button type="button" class="btn btn-info" (click)= "goEdit(questao.id)">
                                        <span class="material-icons">edit</span>
                                    </button>
                                    <button type="button" class="btn btn-danger" (click)= "delete(questao.id)">
                                        <span class="material-icons">delete_outline</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>      
            </div>
        </div>
    </section>
    
    
</div>